<!DOCTYPE html>
<form [formGroup]="userform" (ngSubmit)="Insertnewuser()" class="m-2" >

  <div class="mb-3">
      <label for="usrName" class="form-label">Full Name</label>

      <input type="text" class="form-control" name="usrName" id="usrName" formControlName="fullName">
      <div class="alert alert-warning"[hidden]="fullName?.valid||fullName?.untouched" >

        <small *ngIf="fullName?.errors?.['required']">
            Full Name is required

        </small>
        <small *ngIf="fullName?.errors?.['minlength']">
            Full Name must be at least three characters at least

        </small>
      </div>
    </div>

  <div class="mb-3">
    <label for="usrEmail" class="form-label">Email</label>
    <input type="email" class="form-control" name="usrEmail" id="usrEmail" formControlName="email" >
    <div class="alert alert-warning" [hidden]="email?.valid||email?.untouched" >

      <small *ngIf="email?.errors?.['required']">
          E-mail is required

      </small>
      <small *ngIf="email?.errors?.['pattern']">
				Email not valid.
      </small>
    </div>
  </div>

  <div formArrayName="mobileNo">
    <div class="mb-3 ms-4" *ngFor="let mob of mobileNo.controls;let i=index" >
      <label for="usrMobile{{i+1}}" class="form-label">mobileNo:{{i+1}}</label>
      <input type="number"  class="form-control" name="usrMobile{{i+1}}" id="usrMobile{{i+1}}"
       [formControlName]="i">
    <button class="btn btn-primary m-1 " (click)="addMobile()" *ngIf="mob.value&& i==mobileNo.controls.length-1">+</button>
    <button class="btn btn-primary m-1 " (click)="remMobile()" *ngIf="mob.value&& i==mobileNo.controls.length-1">-</button>

  </div>
  <div class="alert alert-warning" [hidden]="mobileNo?.valid||mobileNo?.untouched" >

    <small *ngIf="mobileNo?.errors?.['required']">
        E-mobileNo is required
    </small>
    <!-- <small *ngIf="mobileNo?.errors?.['pattern']">
      mobileNo not valid.
    </small> -->
  </div>
  </div>

  <div formGroupName="address">
    Address:
    <div class="mb-3 ms-2">
      <label for="usrCity" class="form-label">city</label>
      <input type="text" class="form-control" name="usrCity" id="usrCity" formControlName="city">
      <div class="alert alert-warning"[hidden]="addresscity?.valid||addresscity?.untouched" >

        <small *ngIf="addresscity?.errors?.['required']">
       city is required

        </small></div>
    </div>
    <div class="mb-3 ms-2">
      <label for="usrStreet" class="form-label">Street</label>
      <input type="text"  class="form-control" name="usrStreet" id="usrStreet" formControlName="street">
      <div class="alert alert-warning"[hidden]="street?.valid||street?.untouched" >

        <small *ngIf="street?.errors?.['required']">
          street is required

        </small></div>
    </div>
    <div class="mb-3 ms-2">
      <label for="usrStreet" class="form-label">postalCode</label>
      <input type="number"  class="form-control" name="usrStreet" id="usrStreet" formControlName="postalCode">
      <div class="alert alert-warning"[hidden]="postalCode?.valid||postalCode?.untouched" >

        <small *ngIf="postalCode?.errors?.['required']">
          postalCode is required

        </small></div>
    </div>
  </div>


  <div class="mb-3">
    <label for="usrPass" class="form-label">Password</label>
    <input type="password" class="form-control" name="usrPass" id="usrPass" formControlName="password">
    <div class="alert alert-warning"[hidden]="password?.valid||password?.untouched" >

      <small *ngIf="password?.errors?.['required']">
        password is required

      </small>
      <small *ngIf="password?.errors?.['minlength']">
        password must be at least six characters and numbers  at least

      </small>
    </div>
  </div>

  <!-- <div class="mb-3">
    <label for="usrRePass" class="form-label">Retype Password</label>
    <input type="password"  class="form-control" name="usrRePass" id="usrRePass" >
  </div> -->

 <!-- <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio1" autocomplete="off"
      value="SocialMedia">
    <label class="btn btn-outline-primary" for="btnradio1">Social media</label>
    <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio2" autocomplete="off"
      value="Friend" >
    <label class="btn btn-outline-primary" for="btnradio2">from a Friend</label>
    <input type="radio" class="btn-check" formControlName="referral" name="referral" id="btnradio3" autocomplete="off"
      value="other"  >
    <label class="btn btn-outline-primary" for="btnradio3">other</label>
  </div> -->


<br>
  <button type="submit" class="btn btn-success" >Submit</button>
</form>

<div class="bg-warning">
  <h1>For test:{{userform.value|json}}</h1>
  <h1>For test : {{fullName?.errors | json}}</h1>

</div>
